@charset "UTF-8";
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding-top: 146px;
  overflow: hidden;
}

footer {
  overflow: hidden;
}

/* Navegador */
.navbar {
  z-index: 5555;
  background-color: white;
  width: 100%;
}
.navbar .btn:hover {
  background-color: #b67a47;
  transition: 0.5s;
  border: 1px solid;
  color: white;
}

/* Footer */
.footerInfo {
  width: 350px;
  /*ul li{
      list-style: none;
  }*/
}

footer ul li {
  list-style: none;
}

.imgRedes {
  width: 20px;
  height: 20px;
}

.footerFooter {
  background-color: #121a24;
  color: #b46f36;
}

@media (max-width: 768px) {
  .footerContenido {
    flex-direction: column;
  }
}
.bg-img-index {
  background-image: url(../multimedia/Img/backgroundImg.png);
}

/* Carrusel Index */
.port {
  height: 200px;
}

/* Barras de Sonido */
.barrasSonido {
  position: relative;
  width: 80px;
  height: 100px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(17, 29, 34, 0.555);
}
.barrasSonido span {
  position: absolute;
  display: inline-block;
  bottom: 0;
  width: 10px;
  height: 40px;
}
.barrasSonido .barra1 {
  background-color: #b67a47;
  left: 5%;
  animation: barras 0.5s infinite alternate-reverse;
}
.barrasSonido .barra2 {
  background-color: #b67a47;
  left: 25%;
  animation: barras 0.9s infinite alternate-reverse;
}
.barrasSonido .barra3 {
  background-color: #b67a47;
  left: 45%;
  animation: barras 0.3s infinite alternate-reverse;
}
.barrasSonido .barra4 {
  background-color: #b67a47;
  left: 65%;
  animation: barras 1.3s infinite alternate-reverse;
}
.barrasSonido .barra5 {
  background-color: #b67a47;
  left: 85%;
  animation: barras 0.8s infinite alternate-reverse;
}

@keyframes barras {
  to {
    height: 2px;
  }
}
@media (max-width: 660px) {
  .barrasSonido {
    display: none;
  }
}
/* Titulo */
.tituloIndex {
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.39);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  margin-bottom: 30px;
}

@media (max-width: 660px) {
  .tituloIndex h2 {
    animation: cambiaColor 0.8s alternate-reverse infinite;
  }
}
@media (max-width: 450px) {
  .tituloIndex h1 {
    font-size: larger;
  }
  .tituloIndex h2 {
    font-size: larger;
  }
}
/*Tarjetas - Inicio*/
.destacadosTarjetas {
  display: flex;
  width: 300px;
}
.destacadosTarjetas h2 {
  font-size: x-large;
}
.destacadosTarjetas p {
  font-size: medium;
}
.destacadosTarjetas .imgTarjetas {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.destacadosTarjetas .btnTarjetas {
  width: auto;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 0px 5px;
}
.destacadosTarjetas .btnTarjetas:hover {
  background-color: #b67a47;
  transition: 0.5s;
  border: 1px solid;
  padding: 0px 15px;
}
.destacadosTarjetas:hover {
  box-shadow: 5px 5px 16px 5px rgba(0, 0, 0, 0.67);
  transition: 1s;
}

@media (max-width: 500px) {
  .destacadosTarjetas {
    flex-direction: column;
  }
}
/*Tarjetas - Fin*/
/* Ofertas Tarjetas - Inicio*/
.ofertas {
  animation: cambiaColor 1.5s alternate-reverse infinite;
}

@keyframes cambiaColor {
  to {
    color: #b67a47;
  }
}
.ofertasTarjetas {
  width: 220px;
}
.ofertasTarjetas:hover {
  box-shadow: 5px 5px 16px 5px rgba(0, 0, 0, 0.67);
  transition: 0.5s;
}
.ofertasTarjetas p {
  font-size: medium;
}
.ofertasTarjetas .img-ofertas {
  width: 150px;
  height: 150px;
}
.ofertasTarjetas .btn-ofertasTarjetas {
  width: auto;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 0px 5px;
}
.ofertasTarjetas .btn-ofertasTarjetas:hover {
  background-color: #b67a47;
  transition: 0.5s;
  border: 1px solid;
  padding: 0px 15px;
}

/* Ofertas Tarjetas - Fin*/
/* Marcas - Inicio */
.img-marcas {
  width: 100px;
  height: 100px;
}

/* Marcas - Fin */
/* Botón WhatsApp */
@keyframes efecto {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
  }
  100% {
    box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
  }
}
.bg-img-cont {
  background-image: url(../multimedia/Img/backgroundImg.png);
}

/* Formulario de Contacto */
.form {
  display: grid;
  margin: 50px auto;
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(21, 29, 41);
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "Contacto Contacto" "Nombre   Apellido" "N°deContacto   Email" "Mensaje   Mensaje" "Enviar    Enviar";
}
.form:hover {
  box-shadow: 5px 5px 16px 5px rgba(0, 0, 0, 0.67);
  transition: 0.5s;
}
.form label {
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: #c27e3a;
}
.form label input, .form label textarea {
  border: none;
  background-color: rgb(21, 29, 41);
  border-bottom: 1px solid #c27e3a;
}
.form h2 {
  color: #c27e3a;
  grid-area: Contacto;
  text-align: center;
  margin-bottom: 20px;
}
.form label:nth-child(2) {
  grid-area: Nombre;
}
.form label:nth-child(3) {
  grid-area: Apellido;
}
.form label:nth-child(4) {
  grid-area: N°deContacto;
}
.form label:nth-child(5) {
  grid-area: Email;
}
.form label:nth-child(6) {
  grid-area: Mensaje;
}
.form button {
  grid-area: Enviar;
  width: auto;
  border: 1px solid;
  border-radius: 5px;
  justify-self: center;
  padding: 0px 5px;
}
.form button:hover {
  background-color: #b67a47;
  transition: 0.5s;
  border: 1px solid;
  padding: 0px 15px;
}

@media (max-width: 1000px) {
  .form {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "Contacto Contacto" "Nombre   Nombre" "Apellido Apellido" "N°deContacto N°deContacto" "Email  Email" "Mensaje   Mensaje" "Enviar    Enviar";
  }
}
/* Botón WhatsApp */
@keyframes efecto {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
  }
  100% {
    box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
  }
}
.bg-img-rec {
  background-image: url(../multimedia/Img/backgroundImg.png);
}

.sugRec-título {
  background-color: rgba(0, 0, 0, 0.404);
  width: fit-content;
  height: fit-content;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 100px;
}

@media (max-width: 425px) {
  .sugRec-título h1 {
    font-size: x-large;
  }
}
.img-recom {
  width: 80px;
  height: 230px;
}

.btnReco {
  display: block;
  bottom: 36px;
  left: 8px;
  padding: 0px 5px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
}
.btnReco:hover {
  background-color: #b67a47;
  color: white;
}

.reco:hover .btnReco {
  opacity: 1;
  transition: 0.7s;
}

.cont-recom {
  width: 380px;
  height: 250px;
}

@media (max-width: 990px) {
  .bajo {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (max-width: 575px) {
  .youtubeVid {
    width: 100%;
  }
  .cont-recom {
    font-size: small;
    width: 100%;
    overflow: auto;
  }
}
/* Caja Comentarios */
.comentarios {
  margin-top: 80px;
}
.comentarios h3 {
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.411);
  border-radius: 10px;
  color: white;
  text-align: center;
}

@media (max-width: 600px) {
  .comentarios h3 {
    font-size: medium;
  }
}
/* Botón WhatsApp */
@keyframes efecto {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
  }
  100% {
    box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
  }
}
/* Instrumentos */
.bg-img-ins {
  background-image: url(../multimedia/Img/backgroundImg.png);
}

.Ins-Port {
  width: 100vw;
}

.ins-tarj {
  display: flex;
  border: 1px solid lightgrey;
  border-radius: 5px;
  width: 350px;
  padding: 15px 0px;
  margin: 15px;
  background-color: rgba(255, 255, 255, 0.664);
}
.ins-tarj:hover {
  box-shadow: 5px 5px 16px 5px rgba(0, 0, 0, 0.67);
  transition: 0.5s;
}
.ins-tarj h2 {
  font-size: x-large;
}
.ins-tarj p {
  font-size: medium;
}
.ins-tarj .img-Tarj-Ins {
  height: 100px;
  width: 100px;
  object-fit: cover;
}
.ins-tarj .btnTarjetas {
  width: auto;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 0px 5px;
}
.ins-tarj .btnTarjetas:hover {
  background-color: #b67a47;
  transition: 0.5s;
  border: 1px solid;
  padding: 0px 15px;
}

/* Instrumentos - Fin */
/* Botón WhatsApp */
@keyframes efecto {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
  }
  100% {
    box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
  }
}
.bg-img-audio {
  background-image: url(../multimedia/Img/backgroundImg.png);
}

.h1Audio {
  width: fit-content;
  background-color: rgba(39, 37, 37, 0.4);
  margin: 0 auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Audio */
.flip-card {
  background-color: transparent;
  width: 250px;
  height: 250px;
  perspective: 600px;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.flip-card .flip-card-inner .flip-card-back {
  background-color: rgba(211, 211, 211, 0.6);
  color: white;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.flip-card .flip-card-inner .flip-card-back a {
  color: white;
}
.flip-card .flip-card-inner .flip-card-back a h5 {
  background-color: rgba(0, 0, 0, 0.349);
  padding: 15px;
}
.flip-card .flip-card-inner .flip-card-front {
  background-color: transparent;
  color: black;
}
.flip-card .flip-card-inner .flip-card-front, .flip-card .flip-card-inner .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Oferta Auriculares */
.auriculares {
  background-color: rgba(0, 0, 0, 0.349);
}
.auriculares h3 {
  text-align: center;
  color: white;
}
.auriculares .tarjCar {
  display: flex;
  justify-content: center;
}
.auriculares .tarjCar .card {
  margin: 10px;
  width: 220px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.auriculares .tarjCar .card .bg-auriPioneer {
  background-color: rgba(14, 13, 13, 0.808);
}
.auriculares .tarjCar .card:hover {
  box-shadow: 5px 5px 16px 5px rgba(0, 0, 0, 0.67);
  transition: 1s;
}
.auriculares .tarjCar .card:hover .card-body {
  transform: translateY(0);
  transition: 1s;
}
.auriculares .tarjCar .card-body {
  position: absolute;
  color: white;
  bottom: 0;
  transform: translate(0, 100px);
}
.auriculares .tarjCar .card-body .precioAnterior {
  text-decoration: line-through;
  margin: 0;
  font-size: small;
  color: lightgray;
}
.auriculares .tarjCar .card-body .btn-ofertasTarjetas {
  width: auto;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 0px 5px;
}
.auriculares .tarjCar .card-body .btn-ofertasTarjetas:hover {
  background-color: #b67a47;
  transition: 0.5s;
  border: 1px solid;
  padding: 0px 15px;
}
.auriculares .tarjCar .card-body .card-img-top {
  object-fit: cover;
}

/* slider */
.slider {
  width: 600px;
  height: 200px;
  overflow: hidden;
}
.slider ul {
  display: flex;
  animation: cambio 8s infinite alternate linear;
  width: 400%;
}
.slider li {
  width: 100%;
  list-style: none;
}
.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
/* Botón WhatsApp */
@keyframes efecto {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
  }
  100% {
    box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
  }
}
.destacadosTarjetas, .ofertasTarjetas {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 15px 0px;
  margin: 15px;
  background-color: white;
}

.bg-img-index, .bg-img-cont, .bg-img-rec, .bg-img-ins, .bg-img-audio {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.container-boton {
  background-color: #2e6329;
  border: 1px solid #fff;
  position: fixed;
  z-index: 999;
  border-radius: 50%;
  bottom: 20px;
  right: 25px;
  padding: 8px;
  transition: ease 0.3s;
  animation: efecto 1.2s infinite;
}
.container-boton:hover {
  transform: scale(1.2);
  transition: 0.3s;
}
.container-boton .boton {
  width: 40px;
  transition: ease 1s;
}

/*# sourceMappingURL=styles.css.map */
