@charset "UTF-8";
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding-top: 146px;
  overflow: hidden;
}

footer {
  overflow: hidden;
}

/* Navegador */
.navbar {
  z-index: 5555;
  background-color: white;
  width: 100%;
}
.navbar .btn:hover {
  background-color: #b67a47;
  transition: 0.5s;
  border: 1px solid;
  color: white;
}

/* Footer */
.footerInfo {
  width: 350px;
  /*ul li{
      list-style: none;
  }*/
}

footer ul li {
  list-style: none;
}

.imgRedes {
  width: 20px;
  height: 20px;
}

.footerFooter {
  background-color: #121a24;
  color: #b46f36;
}

@media (max-width: 768px) {
  .footerContenido {
    flex-direction: column;
  }
}
.bg-img-index {
  background-image: url(../multimedia/Img/backgroundImg.png);
}

/* Carrusel Index */
.port {
  height: 200px;
}

/* Título */
/*Tarjetas - Inicio*/
.destacadosTarjetas {
  display: flex;
  width: 300px;
}
.destacadosTarjetas h2 {
  font-size: x-large;
}
.destacadosTarjetas p {
  font-size: medium;
}
.destacadosTarjetas .imgTarjetas {
  height: 150px;
  width: 150px;
  object-fit: cover;
}
.destacadosTarjetas .btnTarjetas {
  width: auto;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 0px 5px;
}
.destacadosTarjetas .btnTarjetas:hover {
  background-color: #b67a47;
  transition: 0.5s;
  border: 1px solid;
  padding: 0px 15px;
}
.destacadosTarjetas:hover {
  box-shadow: 5px 5px 16px 5px rgba(0, 0, 0, 0.67);
  transition: 1s;
}

@media (max-width: 500px) {
  .destacadosTarjetas {
    flex-direction: column;
  }
}
/*Tarjetas - Fin*/
/* Ofertas Tarjetas - Inicio*/
.ofertasTarjetas {
  width: 220px;
}
.ofertasTarjetas:hover {
  box-shadow: 5px 5px 16px 5px rgba(0, 0, 0, 0.67);
  transition: 0.5s;
}
.ofertasTarjetas p {
  font-size: medium;
}
.ofertasTarjetas .img-ofertas {
  width: 150px;
  height: 150px;
}
.ofertasTarjetas .btn-ofertasTarjetas {
  width: auto;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 0px 5px;
}
.ofertasTarjetas .btn-ofertasTarjetas:hover {
  background-color: #b67a47;
  transition: 0.5s;
  border: 1px solid;
  padding: 0px 15px;
}

/* Ofertas Tarjetas - Fin*/
/* Marcas - Inicio */
.img-marcas {
  width: 100px;
  height: 100px;
}

/* Marcas - Fin */
.bg-img-cont {
  background-image: url(../multimedia/Img/backgroundImg.png);
}

/* Formulario de Contacto */
.form {
  display: grid;
  margin: 50px auto;
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(21, 29, 41);
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "Contacto Contacto" "Nombre   Apellido" "N°deContacto   Email" "Mensaje   Mensaje" "Enviar    Enviar";
}
.form:hover {
  box-shadow: 5px 5px 16px 5px rgba(0, 0, 0, 0.67);
  transition: 0.5s;
}
.form label {
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: #c27e3a;
}
.form label input, .form label textarea {
  border: none;
  background-color: rgb(21, 29, 41);
  border-bottom: 1px solid #c27e3a;
}
.form h2 {
  color: #c27e3a;
  grid-area: Contacto;
  text-align: center;
  margin-bottom: 20px;
}
.form label:nth-child(2) {
  grid-area: Nombre;
}
.form label:nth-child(3) {
  grid-area: Apellido;
}
.form label:nth-child(4) {
  grid-area: N°deContacto;
}
.form label:nth-child(5) {
  grid-area: Email;
}
.form label:nth-child(6) {
  grid-area: Mensaje;
}
.form button {
  grid-area: Enviar;
  width: auto;
  border: 1px solid;
  border-radius: 5px;
  justify-self: center;
  padding: 0px 5px;
}
.form button:hover {
  background-color: #b67a47;
  transition: 0.5s;
  border: 1px solid;
  padding: 0px 15px;
}

@media (max-width: 1000px) {
  .form {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "Contacto Contacto" "Nombre   Nombre" "Apellido Apellido" "N°deContacto N°deContacto" "Email  Email" "Mensaje   Mensaje" "Enviar    Enviar";
  }
}
.bg-img-rec {
  background-image: url(../multimedia/Img/backgroundImg.png);
}

.img-recom {
  width: 80px;
  height: 230px;
}

.btnReco {
  display: block;
  bottom: 36px;
  left: 8px;
  padding: 0px 5px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
}
.btnReco:hover {
  transition: 0.5s;
  background-color: orangered;
  color: white;
}

.reco:hover .btnReco {
  opacity: 1;
}

.cont-recom {
  width: 380px;
  height: 250px;
}

@media (max-width: 990px) {
  .bajo {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (max-width: 575px) {
  .youtubeVid {
    width: 100%;
  }
  .cont-recom {
    font-size: small;
    width: 100%;
    overflow: auto;
  }
}
/* Instrumentos */
.bg-img-ins {
  background-image: url(../multimedia/Img/backgroundImg.png);
}

.Ins-Port {
  width: 100vw;
}

.ins-tarj {
  display: flex;
  border: 1px solid lightgrey;
  border-radius: 5px;
  width: 350px;
  padding: 15px 0px;
  margin: 15px;
}
.ins-tarj:hover {
  box-shadow: 5px 5px 16px 5px rgba(0, 0, 0, 0.67);
  transition: 0.5s;
}
.ins-tarj h2 {
  font-size: x-large;
}
.ins-tarj p {
  font-size: medium;
}
.ins-tarj .img-Tarj-Ins {
  height: 100px;
  width: 100px;
  object-fit: cover;
}
.ins-tarj .btnTarjetas {
  width: auto;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 0px 5px;
}
.ins-tarj .btnTarjetas:hover {
  background-color: #b67a47;
  transition: 0.5s;
  border: 1px solid;
  padding: 0px 15px;
}

/* Instrumentos - Fin */
.bg-img-audio {
  background-image: url(../multimedia/Img/backgroundImg.png);
}

/*
.h1Container{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    .h1Audio{
        text-align: center;
        background-color: rgb(128, 128, 128, .8);
        border-radius: 5px;
    }    
}
*/
.h1Audio {
  text-align: center;
}

/* Tarjetas */
.destacadosTarjetas, .ofertasTarjetas {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 15px 0px;
  margin: 15px;
  background-color: white;
}

.bg-img-index, .bg-img-cont, .bg-img-rec, .bg-img-ins, .bg-img-audio {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/*# sourceMappingURL=styles.css.map */
