
.bg-img-audio{
    @extend %bg-img;
    background-image: url(../multimedia/Img/backgroundImg.png);
}

/*
.h1Container{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    .h1Audio{
        text-align: center;
        background-color: rgb(128, 128, 128, .8);
        border-radius: 5px;
    }    
}
*/

.h1Audio{
    text-align: center;
} 

/* Tarjetas */

