
%tarjetas{
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 15px 0px;
    margin: 15px;
    background-color: white;
}

%bg-img{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}