

.bg-img-index{
    @extend %bg-img;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.829), rgba(0, 0, 0, 0.349)), url(../multimedia/Img/bg-mixer-min.jpg);
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: rgba(211, 211, 211, 0.548);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color:$bg-color;
}

/* Carrusel Index */

.port{
    height: 200px;
}

/* Barras de Sonido */

.barrasSonido{
    position: relative;
    @include sizes (100px,80px);
    margin: 0 auto;
    border-bottom: 1px solid $bg-color;

    span{
        position: absolute;
        display: inline-block;
        bottom: 0;
        @include sizes (40px,10px);
    }
    .barra1{
        background-color: $bg-color ;
        left: 5%;
        animation: barras .5s infinite alternate-reverse;
    }
    .barra2{
        background-color: $bg-color;
        left: 25%;
        animation: barras .9s infinite alternate-reverse;
    }
    .barra3{
        background-color: $bg-color;
        left: 45%;
        animation: barras .3s infinite alternate-reverse;
    }
    .barra4{
        background-color: $bg-color;
        left: 65%;
        animation: barras 1.3s infinite alternate-reverse;
    }
    .barra5{
        background-color: $bg-color;
        left: 85%;
        animation: barras .8s infinite alternate-reverse;
    }
}

@keyframes barras {
    to{
        height: 2px;
    }
}

@media (max-width:660px){
    .barrasSonido{
        display: none;
    }
}


/* Titulo */

.tituloIndex{
    @extend %Titulos;
    margin-bottom: 30px;
    h2{
        font-weight: 300;
    }
}

@media (max-width:660px){
    .tituloIndex h2{
        animation: cambiaColor .8s alternate-reverse infinite;
    }
}

@media (max-width:450px){
    .tituloIndex h1{
        font-size:larger
    }
    .tituloIndex h2{
        font-size:larger
    }
}

/*Tarjetas - Inicio*/

.destacadosTarjetas{
    @extend %tarjetas;
    display: flex;
    width: 300px;
    
    h2{
        font-size:x-large;
    }

    p{
        font-size: medium;
    }

    .imgTarjetas{
        @include sizes (150px, 150px);
        object-fit: cover;
    }

    .btnTarjetas{
        width: auto;
        border: 1px solid lightgray;
        border-radius: 5px;
        padding: 0px 5px;
        &:hover{
            background-color: $bg-color;
            transition: 0.5s;
            border: 1px solid;
            padding: 0px 15px;
        }
    }

    &:hover{
        transform: translate(0, -10px);
        box-shadow: 5px 5px 16px 5px rgba(0,0,0,0.67);
        transition: 0.5s;
    }
}

@media (max-width:500px){
    .destacadosTarjetas{
        flex-direction: column;
    }
}

/*Tarjetas - Fin*/

/* Ofertas Tarjetas - Inicio*/

.ofertas-ini{
    animation: cambiaColor 1s alternate-reverse infinite;
    font-weight: 300;
    color: lightgray;
}

@keyframes cambiaColor {
    to{
        color: $bg-color;
    }
}

.ofertasTarjetas{
    @extend %tarjetas;
    width: 220px;

    &:hover{
        transform: translate(0, -10px);
        box-shadow: 5px 5px 16px 5px rgba(0,0,0,0.67);
        transition: 0.5s;
    }

    p{
        font-size: medium;
    }

    .img-ofertas{
        @include sizes (150px, 150px);
    }

    .btn-ofertasTarjetas{
        width: auto;
        border: 1px solid lightgray;
        border-radius: 5px;
        padding: 0px 5px;
        &:hover{
            background-color: $bg-color;
            transition: 0.5s;
            border: 1px solid;
            padding: 0px 15px;
        }
    }
}

/* Ofertas Tarjetas - Fin*/

/* Marcas - Inicio */

.h2Marcas{
    color: white;
    font-weight: 300;
}

.bg-marcas{
    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 10px;
    
}

.img-marcas{
    @include sizes (100px, 100px);
    }

/* Marcas - Fin */

/* Botón WhatsApp */

.container-boton{
@extend %WhatsApp-btn;
}

@keyframes efecto{
    0%{
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }
    100%{
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
    }
}