
/* Navegador */

.navbar{
    z-index: 5555;
    background-color: white;
    width: 100%;

    .btn:hover{
        background-color: #b67a47;
        transition: 0.5s;
        border: 1px solid;
        color: white;
    }
}