
.bg-img-rec{
    @extend %bg-img;
    background-image: url(../multimedia/Img/backgroundImg.png);
}

.img-recom{
    width: 80px;
    height: 230px;

}

.btnReco{
    display: block; 
    bottom: 36px;
    left: 8px;
    padding: 0px 5px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    &:hover{
        background-color: $bg-color;
        color: white;
    }
    }

.reco:hover .btnReco{
    opacity: 1;
    transition: .7s;
}

.cont-recom{
    width: 380px;
    height: 250px;
    }

@media (max-width:990px){
    .bajo{
    display:flex;
    flex-direction:column-reverse;
    }
}

@media (max-width:575px){
    .youtubeVid{
        width: 100%;
    }
    .cont-recom{
        font-size: small;
        width: 100%;
        overflow: auto;
    }
}

/* Botón WhatsApp */

.container-boton{
    @extend %WhatsApp-btn
    }
    
@keyframes efecto{
    0%{
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }
    100%{
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
    }
}
